<h1> Lista dos Pontos de Interesse com distância de até <%= params[:distancia_max] %> do ponto (<%= params[:x] %>, <%= params[:y]%>) </h1>

<table>
  <tr>
    <th style="text-align: center">Nome</th>
    <th style="text-align: center">Coordenada x</th>
    <th style="text-align: center">Coordenada y</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @pois_proximos.each do |poi| %>
      <tr>
        <td style="text-align: center"><%= poi.nome %></td>
        <td style="text-align: center"><%= poi.x %></td>
        <td style="text-align: center"><%= poi.y %></td>
      </tr>
  <% end %>
</table>

<br/>
<button>
  <%= link_to 'Nova pesquisa', procurar_pontos_proximos_pois_path %>
</button>
<button>
  <%= link_to 'Pagina inicial', root_path %>
</button>
<button>
  <%= link_to 'Lista de pontos de interesse', pois_path %>
</button>
